body {
  display: flex;
  flex-direction: column;
  background-color: #533a71;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main {
  /* margin: 5px; */
  display: grid;
  height: 75vh;
  width: 75vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* align-self: center; */
  /* position: relative; */
  /* background-color: aqua; */
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}
.cell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  background-size: cover;
  border: 1px solid;
}

.snake {
  background-size: cover;
  /* transform: rotate(45deg); */
  height: 25%;
  width: 75%;
  border: 10px outset rgb(5, 16, 138);
  border-radius: 60%;
}

.apple {
  /* transform: rotate(45deg); */
  height: 100%;
  width: 100%;
  /* background-color: #82f88c; */
  /* border: 6px outset rgb(148, 3, 3); */
  background: url("apple3.png");
  background-size: cover;
  /* border-radius: 30px; */
}

.score {
  color: rgb(212, 194, 252);
}
button {
  height: 5vh;
  width: 20vh;
  background-color: rgb(212, 194, 252);
  color: #533a71;
  border: rgb(153, 143, 199);
}

button:disabled {
  background-color: rgb(153, 143, 199);
  color: rgb(212, 194, 252);
}
