body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  height: 75vh;
  width: 75vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  background-color: aqua;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}
.cell {
  background-size: cover;
  border: 1px solid;
}
